/*displayMenu*/
/*div.displayMenu{background: url(../img/secure.png) no-repeat 1px 1px #fff ; width:150px;position: absolute;right:35px;bottom: 5px;border: 1px solid #e7e7e7;}
.displayMenu a{float: left;width:83%;padding-left:15%;padding-right:2%;}
.displayMenu a:hover{background: #8eb4e3;color:#fff;}*/