.content a.actMon{text-decoration: underline;color:#004396;}
.content a.actSubj{text-decoration: underline;color:#004396;}

.mainfield{
			background:#fff;
			border:1px solid #e7e7e7;
			height:auto;
			}

div.content  {margin:5px 10px;position:relative;float:left;width:830px;}
.content a{text-decoration:none;}

/*1-st menu*/
ul.mesSend{float: left;padding:0;margin:0;}
ul.mesSend li {list-style: none;display: inline;}
ul.mesSend a{width:100px;padding:0 10px 0 10px;}
ul.mesSend img{float: none;margin:0;height:9px;width:6px;}



/* content*/

div.secureItem , div.secureItemN{
	/*display: inline-block;*/
	/*width: 93%;*/
	min-height: 182px;
	border-bottom: 1px solid #b7b7b7;
	padding-bottom:6px 6px 0 6px;
}
div.secureItem{border-bottom: none;}
.secureItem span , .secureItemN span{float: none;margin: 0;cursor: default;}
.secureItem input , .secureItemN input{width:350px;border:1px solid #d7d7d7;margin:0;float: right;padding:2px 2px 0 2px;}
	.err {
		box-shadow: 0px 0px 7px -1px #d28b8d;
	}
	.confirmationMSG input:focus {
	border: 0px solid #abadb3;
	}

div.managettl {padding-top:6px;}
div.managettl span{color: #8eb4e3;cursor: default;}	
div.managetct {position: relative; padding: 4px 0  0px 0;}
div.load-layer {display:none;position: absolute; top:0px; width: 100%; height: 100%; background-color: #f2f2f2; opacity: 0.5; background-image:url(./../img/bg-load.png); }
div.load-layer.display {display:block;}
div.load-layer div.load {width: 100%; height: 100%; background: url("../img/gif-load-blue.gif") center center no-repeat;}
div.changeFields{margin-left:25px;margin-top: 10px;}
div.changeItem{margin-bottom:10px;width: 625px;}
span.showEmail{float:right; width: 352px; margin:0;}
div.changeItemMSG{margin-top: 10px; border: 1px solid #d1d1d1; color: #79797b; padding: 10px 10px 10px 40px; background-color: #eceaec;}
.changeItemMSG div.confirmbtn{float:right;top:0;left:0;}

div.preConfirmation{width: 734px;}
div.confirmationPanel{position: relative;min-height:60px;}
div.confirmation{position: relative; margin-top: 10px;margin-left:25px;width:623px;display: inline-block;}

div.confirmbtn{ display: inline-block;
				background: url(../img/true.png) no-repeat left;
				cursor: pointer;
				padding-left: 30px;
				height: 25px;
				margin-left: 10px;
				color: #8eb4e3;
				position: absolute;
				top: 15px;}
div:hover.confirmbtn{background: url(../img/true_h.png) no-repeat left;color:#7093bf;}
.secureItem .confirmbtn span , .secureItemN .confirmbtn span{margin-top:9px;display: block;cursor: pointer;}
/*****/



