.mainfield{
   background:#fff; 
   border:1px solid #e7e7e7; 
   min-height: 520px;
}

div.content  {position:relative;float:left;width:100%;margin-bottom:10px;}

div.content h2 {padding: 30px 0 0 0; text-align: center; color: #8EB4E3; }
div.content h2 a {color: #a6a6a6;}
div.content img {margin: 0 0 0 330px; }
div.content div {
   width: 100%;
   text-align: center;
   padding-top: 30px;
}
div.content div a {
   margin: 0 auto;
   padding-top: 128px;
   width: 100%;
   display: block;
   background: url("../img/left.png") 0px 0px no-repeat; 
   background-size: 128px 128px;
   text-decoration:none;
   width: 128px;
   cursor: pointer;
}