/tpl/cache
/tpl/templates_c/*.php

/data/AVAA
/data/AVAS
/data/HBB
/data/avatars_people_produschn
/data/p*

/jlife_data/*


/nbproject/
notaccess
sftp-config.json
/sftp-config.json
/cgi-bin
/*.png
/Y

/.idea
assets
assets/*
assets/*.*
/auth/protected/runtime/*.*
